body, html{
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}

#app{
  height: 100%;
  width: 100%;

}

h1{
  text-align: center;
  background-color: #222222;
  margin: 0;
  color: white;
  height: 6%;
  align-content: center;
}



